/* styles.css */
.container-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-panel, .right-panel {
    flex: 1;
    margin: 0 40px;
}

.left-panel {
    padding-right: 15px;
}

.right-panel {
    padding-left: 15px;
}

.brand-logo {
    margin-left: 40px;
}

.hide-on-med-and-down {
    margin-right: 40px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: auto;
}

.reset-form {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px; 
}

/* 채팅 창 스타일 */
.chat-window {
    height: 600px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border: 1px solid rgb(196, 196, 196);
}

/* 공통 메시지 스타일 */
.chat-message {
    margin: 20px 0; /* 메시지 간 간격 */
    padding: 15px 20px; /* 메시지 내부 여백 */
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 사용자 메시지 스타일 */
.user-message {
    background-color: #e0f7fa; /* 파란색 계열 배경 */
    align-self: flex-start;      /* 왼쪽 정렬 */
    text-align: left;
}

/* GPT 메시지 스타일 */
.gpt-message {
    background-color: #f1f8e9; /* 연한 녹색 계열 배경 */
    align-self: flex-start;    /* 왼쪽 정렬 */
    text-align: left;
}

/* 메시지 텍스트의 굵기 및 색상 */
.chat-message strong {
    color: #2c3e50;
}

.sidebar {
    width: 250px;
    height: calc(100% - 64px); /* Adjust the height to exclude the height of the nav */
    position: fixed;
    top: 64px; /* Adjust the position to be below the nav */
    left: 0;
    background-color: #755e62;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #999393;
}

.content {
    margin-left: 260px; /* Same as the width of the sidebar */
    padding: 20px;
}

.profile_img_upload{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile_img_upload + label {
    border: 1px solid #d9e1e8;
    background-color: #fff;
    color: #2b90d9;
    border-radius: 2rem;
    padding: 8px 17px 8px 17px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 1px 2px 3px 0px #f2f2f2;
    outline: none;
}

.profile_img_upload:focus + label,
.profile_img_upload + label:hover {
    cursor: pointer;
}