{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1" >
        <title>
            SBLIMS
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body> 
        <nav>
            <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">SBLIMS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'equipment_list' %}">Equipment</a></li>
                <li><a href="{% url 'item_catalog' %}">Item</a></li>
            </ul>
            </div>
        </nav>
        <div class="container-flex">
            <div class="left-panel">
                <h3 style="text-align: left;">AI Chatbot</h3>
                {% comment %} GPT 대화창 {% endcomment %}
                <div id="chat-window" class="chat-window">
                    {% block content %}
                    {% endblock %}
                </div>
                
                <!-- 사용자 입력 폼 -->
                <div class="form-container">
                    <!-- 사용자 입력 폼 -->
                    <form action="{% url 'answer' %}" method="post" id="chat-form">
                        {% csrf_token %}
                        <div class="input-field">
                            <input type="text" name="question" id="chat-input" placeholder="Ask anything..." autocomplete="off">
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Submit</button>
                    </form>
                    <!-- Reset Session 버튼 -->
                </div>
                    <div class="reset-form">
                        <a href="{% url 'reset_session' %}" class="btn red">Reset Session</a>
                    </div>
            </div>
            <div class="right-panel">
                <h3 style="text-align: left;">Markdown Editor</h3>
                <textarea id="Markdown-Editor"></textarea>
            </div>
        </div>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var simplemde = new SimpleMDE({ element: document.getElementById("Markdown-Editor") });
            simplemde.codemirror.setSize(null, "600px");
        </script>
    </body>
</html>

